.html{
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Open Sans","Arial",sans-serif;
}

body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-toggle {
    z-index: 3;
    border-color: #dddddd;
}

    .navbar-toggle .icon-bar {
        background-color: #cccccc;
    }

.navbar-header .showLogo {
    display: block;
}

.hide{
    display:none;
}

.navbar-brand {
    display: none;
    float: none;
    height: 100%;
    text-indent: -9999px;
    background: url("/Content/images/logoTest.png") center / contain no-repeat;
    width: 127px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

@media (max-width: 768px) {
    body {
        padding-top: 103px;
    }

    .navbar .shares-box {
        
        display: -webkit-flex; /* Safari */
        -webkit-justify-content: space-around; /* Safari 6.1+ */
        display: flex;
        justify-content: space-around;
    }

    .star-background {
        /*background-color: #f9B747;*/
    }

    .tagLine {
        background-color: #e93282;
        display: block;
    }

    .navbar-header {
        height: 70px;
    }

    a.navbar-brand {
        display: block;
        width: 100px;
        height: 80px;
    }

    .jumbotron {
        display: none;
    }

    body .navbar {
        background: url("images/starsgradientmedium.jpg"),-moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: url("images/starsgradientmedium.jpg"), -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), url("images/starsgradientmedium.jpg"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }

    .container .shares-box .fa {
        font-size: 25px;
    }

    .navbar-collapse {
        padding: 20px;
        background-color: #eeeeee;
    }
    .navbar-collapse .login-buttons li{
        float:left;
    }

    .navbar-collapse li{
        border-bottom: 1px solid #cccccc;
    }

    .login-banner .info-box {
        border-right: none;
        text-align: center;
        padding-top: 20px;
    }
    .login-banner .info-box:last-child {
        padding-bottom: 20px;
    }
    body .login-banner {
        padding: 0;
    }
}

.hideJumbo {
    display: none;
}

.smaller .jumbotron {
    display: none;
}

.smaller {
    background: url("images/starsgradientsmall.jpg"),-moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: url("images/starsgradientsmall.jpg"), -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), url("images/starsgradientsmall.jpg"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.tagLine {
    display: none;
}

.jumbotron {
    padding: 4rem 3rem 2rem 1rem;
    background: none;
    margin-bottom: 10px;
}

header.smallHeader {
    margin-bottom: 80px;
}

header {
        margin-top: -50px;
    padding-top: 50px;
    background: url("images/starsgradient.jpg"),-moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: url("images/starsgradient.jpg"), -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), url("images/starsgradient.jpg"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.logo {
    background: url("/Content/images/logoBig.png") no-repeat;
}

.lead {
    font-weight: bold;
    font-size: 20px;
}

.white-shade {
}

.intro {
    background: #eeeeee;
}

.intro-box {
    padding: 30px;
    text-align: center;
}

    .intro-box .fa {
        font-size: 5rem;
    }

.shares-box {
    padding-top: 8px;
    padding-left: 15px;
}

.navbar {
}

.icon-bar {
    color: #000000;
}

.shares-box .fa {
    color: #e93282;
    opacity: 0.9;
    font-size: 2.5em;
    margin-right: 10px;
}

.login-buttons {
    padding-right:15px;
}

.btn-login {
    background-color: #f9B747;
    color: #ffffff;
    font-weight: bold;
    margin-left: 4px;
    margin-top: 8px;
}

.gratitude-intro {
    background-image: url("images/symphony.png");
    padding: 30px 50px 20px;
}

.graditude-card {
}

    .graditude-card ul {
        padding-left: 0;
    }

        .graditude-card ul li {
            list-style-type: none;
            padding: 10px;
        }

        .graditude-card ul fa {
            padding-right: 10px;
        }

.login-banner {
    background-color: #eeeeee;
    color: #666666;
    padding: 50px;
}

.quote-banner {
    background-color: #e93282;
    color: #ffffff;
    padding: 50px 100px 50px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
    .info-box:last-child {
        border-right: none;
    }

.info-box {
        border-right: 2px solid #cecece;
    font-weight: bold;
    font-size: 20px;
    text-align:center;
}

/*FOOTER STUFF*/

footer {
    padding-top: 10px;
    background-color: #369590;
    padding-bottom: 30px;
}
.footer-wrapper {
    padding: 1rem 0;
    width: 100%;
    table-layout: fixed;
    display: table;
    list-style-type : none;
}

footer ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}

.footer-copyrite {
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}

.footer-linksContainer {
    display: block;
    font-size: 0.95rem;
    text-align: center;
}
.footer-linksContainer .navLink {
    margin-right: 2em;
}

.footer-linksContainer .navLink {
    color: #fff;
    text-decoration: none;
    font-size : 16px;
}
@media (max-width: 768px) {
    .footer-linksContainer {
        display:none;
    }
}

/*
    a3bbbc
    369590
    bf5f76
    f9b747
*/



