<div class="">
    <div class="container">
        <div class="col-md-4 col-sm-4 intro-box">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <p>Focus on your gratitude to decrease stress and increase joy</p>
        </div>
        <div class="col-md-4 col-sm-4 intro-box">
            <i class="fa fa-laptop" aria-hidden="true"></i>
            <p>Create a paperless gratitude journal that you can access anywhere</p>
        </div>
        <div class="col-md-4 col-sm-4 intro-box">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <p>Choose a public profile to share your gratitude to inspire others and spread joy</p>
        </div>
    </div>
</div>
<div class="gratitude-intro">
        <div class="container body-content">
            <div class="row">
                <div class="panel panel-default graditude-card">
                    <div class="panel-heading">Gratitude User</div>
                    <div class="panel-body">
                        <ul>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default graditude-card">
                    <div class="panel-heading">Gratitude User</div>
                    <div class="panel-body">
                        <ul>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>
                           Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default graditude-card">
                    <div class="panel-heading">Gratitude User</div>
                    <div class="panel-body">
                        <ul>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
                            <li>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="quote-banner">
    "The root of joy is gratefulness...It is not joy that makes us grateful; it is gratitude that makes us joyful."
     ― David Steindl-Rast
</div>
<div class="login-banner">
    <div class="container body-content">
        <div class="col-md-4 col-xs-4 info-box">
            <p>Sign up to start your start your gratitude journal</p>
            <button type="button" class="btn btn-info">Sign up</button>
        </div>
        <div class="col-md-4 col-xs-4 info-box">
            <p> Want to learn more about the benefits of being grateful</p>
            <button type="button" class="btn btn-info">Learn More</button>
        </div>
        <div class="col-md-4 col-xs-4 info-box">
            Want to read a little more about it heres some recommended books
            <button type="button" class="btn btn-info">See books</button>
        </div>
    </div>
</div>